body {
  margin: 0;
  padding: 0;
  background-color: #f6c693;
}

.sidebar {
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  background-color: #e87c09;
}

.content {
  padding: 5vh 20vw;
  color: #371e03;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10%;
}

#title_container {
  background-color: #ffebcd;
  box-shadow: 5px 3px 3px #955817;
  width: 100%;
  white-space: nowrap;
  margin: auto;
  margin-bottom: 100px;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #371e03;
  -webkit-text-stroke: 1px;
  padding: 5px 0;
}

ul {
  display: inline-block;
  text-align: left;
  padding: 10px 10px 10px 30px;
  color: #955817;
  background-color: #ffebcd;
}

#foot-id {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}

#home {
  font-size: 1.5em;
  margin: 30vh 0;
  background-color: #ffebcd;
}

#home li {
  margin: 20px;
  padding-right: 15px;
}

.foot ul {
  background-color: #f6c693;
}

.center,
.foot {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 50px;
}

/* Unvisited Link*/
a:link {
  color: #75440f;
  text-decoration: none;
}

a:visited {
  color: #e87c09;
}

a:hover {
  color: #b0681a;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 75px;
}

.pumpkin {
  position: relative;
  top: 0;
  left: 0;
}

#front {
  margin: 75px 0 28%;
  height: auto;
  width: 600px;
  position: relative;
  top: 0;
  left: 0;
}

#autumn-text {
  position: absolute;
  bottom: 250px;
  left: 28px;
  height: 20%;
  width: auto;
  opacity: 0.75;
}
