body {
  margin: 0;
  padding: 0;
  background-color: #f6c693;
}

.sidebar {
  width: 15vw;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  background-color: #e87c09;
}

.center {
  position: absolute;
  top: 25vh;
  background-color: #ffebcd;
  width: 15vw;
  margin: 0;
}

#main {
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  color: #371e03;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content {
  margin: 0 25vw;
}

#title_container {
  background-color: #ffebcd;
  box-shadow: 0px 5px 3px 3px #955817; /*Updated after using dev tools to edit*/
  margin-bottom: 100px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #371e03;
  -webkit-text-stroke: 1px;
  padding: 5px 0;
}

ul {
  display: inline-block;
  text-align: left;
  padding: 10px 10px 10px 30px;
  color: #955817;
  background-color: #ffebcd;
}

#home_nav {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
  overflow: hidden;
}

#home_nav li {
  margin: 2vh 1vw 2vh 1.5vw;
}

.foot ul {
  background-color: #f6c693;
}

.center,
.foot {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 50px;
}

/* Unvisited Link*/
a:link {
  color: #75440f;
  text-decoration: none;
}

a:visited {
  color: #e87c09;
}

a:hover {
  color: #b0681a;
}

.image_text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.image_text.pumpkin {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
}

.article {
  font-weight: bold;
  color: #fffdfa;
  width: 100%;
}

.article-duo {
  display: flex;
  column-gap: 8%;
  width: 100%;
}

.article_square {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
  column-gap: 2vh;
  height: 100%;
  padding: 1vw;
  width: 50%;
}

.pumpkin_image {
  height: 100%;
}

#pumpkin-image-main {
  height: 100%;
}

.image_text.zucchini {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2vw;
}

.article.zucchini {
  width: 50%;
  padding: 2vw;
  flex: 1;
}

iframe {
  flex: 2;
  padding: 2vw;
}

#foot-id {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.break-line {
  height: 0.5vh;
  background-color: #955817;
  margin: 15vh;
}

@media print {
  body {
    background-color: transparent; /* updated to make colourless when printed */
  }
}
